{
  "openapi": "3.0.3",
  "info": {
    "title": "Geeker-Admin Mock API",
    "description": "Migrated from Easy-Mock (geeker) to Apifox.\n\n## Import guide\n1. Apifox → Project Settings → Import Data → OpenAPI/Swagger → select `geeker.openapi.json`\n2. Recommended options: import Servers as environments; conflict handling — overwrite existing endpoints (first import) or smart merge\n3. For dynamic-logic endpoints: open \"Advanced Mock → Script\", paste the content of `mock-scripts/*.js`, and toggle on\n\n## Accounts\n- admin / 123456 (body.password is MD5: e10adc3949ba59abbe56e057f20f883e) → token: bqddxxwqmfncffacvbpkuxvwvqrhln\n- user / 123456 (same as above) → token: unufvdotdqxuzfbdygovfmsbftlvbn\n\n## Proxy\nOriginal Easy-Mock base URL: `https://mock.mengxuegu.com/mock/629d727e6163854a32e8307e`\nAfter import, change `VITE_PROXY` in `.env.development` to the Apifox Mock URL.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://mock.apifox.cn/m1/{projectId}",
      "description": "Apifox cloud Mock (replace projectId after import)",
      "variables": {
        "projectId": {
          "default": "YOUR_PROJECT_ID"
        }
      }
    },
    {
      "url": "http://127.0.0.1:4523/m1/{projectId}",
      "description": "Apifox local Mock",
      "variables": {
        "projectId": {
          "default": "YOUR_PROJECT_ID"
        }
      }
    }
  ],
  "tags": [
    {
      "name": "Auth"
    },
    {
      "name": "User Management"
    },
    {
      "name": "Account Management"
    },
    {
      "name": "File Upload"
    }
  ],
  "paths": {
    "/geeker/login": {
      "post": {
        "summary": "User login",
        "tags": [
          "Auth"
        ],
        "description": "> Apifox advanced mock script at `mock-scripts/login.js` (paste into Advanced Mock → Script and toggle on after import)",
        "x-apifox-folder": "Auth",
        "x-apifox-status": "released",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {},
                    "msg": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                },
                "examples": {
                  "adminSuccess": {
                    "summary": "admin login success",
                    "value": {
                      "code": 200,
                      "data": {
                        "access_token": "bqddxxwqmfncffacvbpkuxvwvqrhln"
                      },
                      "msg": "success"
                    }
                  },
                  "userSuccess": {
                    "summary": "user login success",
                    "value": {
                      "code": 200,
                      "data": {
                        "access_token": "unufvdotdqxuzfbdygovfmsbftlvbn"
                      },
                      "msg": "success"
                    }
                  },
                  "fail": {
                    "summary": "invalid username or password",
                    "value": {
                      "code": 500,
                      "data": null,
                      "msg": "invalid username or password"
                    }
                  }
                }
              }
            },
            "x-apifox-name": "success"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string"
                  },
                  "password": {
                    "type": "string",
                    "description": "MD5(plaintext password); demo password is 123456"
                  }
                }
              },
              "example": {
                "username": "admin",
                "password": "e10adc3949ba59abbe56e057f20f883e"
              }
            }
          }
        },
        "x-apifox": {
          "mockScript": {
            "enable": true,
            "script": "// Migrated from Easy-Mock: /geeker/login\n// password is MD5 of \"123456\": e10adc3949ba59abbe56e057f20f883e\nvar MockJs = require('mockjs');\nvar body = $$.mockRequest.body.toJSON() || {};\nvar username = body.username;\nvar password = body.password;\nvar okAdmin = username === 'admin' && password === 'e10adc3949ba59abbe56e057f20f883e';\nvar okUser = username === 'user' && password === 'e10adc3949ba59abbe56e057f20f883e';\n\nif (okAdmin) {\n  $$.mockResponse.setBody({\n    code: 200,\n    data: MockJs.mock({ access_token: 'bqddxxwqmfncffacvbpkuxvwvqrhln' }),\n    msg: 'success'\n  });\n} else if (okUser) {\n  $$.mockResponse.setBody({\n    code: 200,\n    data: MockJs.mock({ access_token: 'unufvdotdqxuzfbdygovfmsbftlvbn' }),\n    msg: 'success'\n  });\n} else {\n  $$.mockResponse.setBody({\n    code: 500,\n    data: null,\n    msg: 'invalid username or password'\n  });\n}\n$$.mockResponse.setCode(200);\n"
          }
        }
      }
    },
    "/geeker/logout": {
      "post": {
        "summary": "Logout",
        "tags": [
          "Auth"
        ],
        "description": "",
        "x-apifox-folder": "Auth",
        "x-apifox-status": "released",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {},
                    "msg": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                },
                "example": {
                  "code": 200,
                  "msg": "success"
                }
              }
            },
            "x-apifox-name": "success"
          }
        }
      }
    },
    "/geeker/menu/list": {
      "get": {
        "summary": "Get menu list",
        "tags": [
          "Auth"
        ],
        "description": "Returns different menus based on the x-access-token header (admin / user)\n\n> Apifox advanced mock script at `mock-scripts/menu-list.js` (paste into Advanced Mock → Script and toggle on after import)",
        "x-apifox-folder": "Auth",
        "x-apifox-status": "released",
        "responses": {
          "200": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "data": {},
                    "msg": {
                      "type": "string",
                      "example": "success"
                    }
                  }
                },
                "examples": {
                  "admin": {
                    "summary": "admin menu",
                    "value": {
                      "code": 200,
                      "data": [
                        {
                          "path": "/home/index",
                          "name": "home",
                          "component": "/home/index",
                          "meta": {
                            "icon": "HomeFilled",
                            "title": "Home",
                            "isLink": "",
                            "isHide": false,
                            "isFull": false,
                            "isAffix": true,
                            "isKeepAlive": true
                          }
                        },
                        {
                          "path": "/dataScreen",
                          "name": "dataScreen",
                          "component": "/dataScreen/index",
                          "meta": {
                            "icon": "Histogram",
                            "title": "Data Screen",
                            "isLink": "",
                            "isHide": false,
                            "isFull": true,
                            "isAffix": false,
                            "isKeepAlive": true
                          }
                        },
                        {
                          "path": "/proTable",
                          "name": "proTable",
                          "redirect": "/proTable/useProTable",
                          "meta": {
                            "icon": "MessageBox",
                            "title": "Super Table",
                            "isLink": "",
                            "isHide": false,
                            "isFull": false,
                            "isAffix": false,
                            "isKeepAlive": true
                          },
                          "children": [
                            {
                              "path": "/proTable/useProTable",
                              "name": "useProTable",
                              "component": "/proTable/useProTable/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Using ProTable",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              },
                              "children": [
                                {
                                  "path": "/proTable/useProTable/detail/:id",
                                  "name": "useProTableDetail",
                                  "component": "/proTable/useProTable/detail",
                                  "meta": {
                                    "icon": "Menu",
                                    "title": "ProTable Detail",
                                    "isLink": "",
                                    "isHide": true,
                                    "isFull": false,
                                    "isAffix": false,
                                    "isKeepAlive": true,
                                    "activeMenu": "/proTable/useProTable"
                                  }
                                }
                              ]
                            },
                            {
                              "path": "/proTable/useTreeFilter",
                              "name": "useTreeFilter",
                              "component": "/proTable/useTreeFilter/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Using TreeFilter",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/proTable/useTreeFilter/detail/:id",
                              "name": "useTreeFilterDetail",
                              "component": "/proTable/useTreeFilter/detail",
                              "meta": {
                                "icon": "Menu",
                                "title": "TreeFilter Detail",
                                "activeMenu": "/proTable/useTreeFilter",
                                "isLink": "",
                                "isHide": true,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/proTable/useSelectFilter",
                              "name": "useSelectFilter",
                              "component": "/proTable/useSelectFilter/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Using SelectFilter",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/proTable/treeProTable",
                              "name": "treeProTable",
                              "component": "/proTable/treeProTable/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Tree ProTable",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/proTable/complexProTable",
                              "name": "complexProTable",
                              "component": "/proTable/complexProTable/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Complex ProTable",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/proTable/document",
                              "name": "proTableDocument",
                              "component": "/proTable/document/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "ProTable Docs",
                                "isLink": "https://juejin.cn/post/7166068828202336263/#heading-14",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            }
                          ]
                        },
                        {
                          "path": "/auth",
                          "name": "auth",
                          "redirect": "/auth/menu",
                          "meta": {
                            "icon": "Lock",
                            "title": "Permission Management",
                            "isLink": "",
                            "isHide": false,
                            "isFull": false,
                            "isAffix": false,
                            "isKeepAlive": true
                          },
                          "children": [
                            {
                              "path": "/auth/menu",
                              "name": "authMenu",
                              "component": "/auth/menu/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Menu Permissions",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/auth/button",
                              "name": "authButton",
                              "component": "/auth/button/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Button Permissions",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            }
                          ]
                        },
                        {
                          "path": "/assembly",
                          "name": "assembly",
                          "redirect": "/assembly/guide",
                          "meta": {
                            "icon": "Briefcase",
                            "title": "Common Components",
                            "isLink": "",
                            "isHide": false,
                            "isFull": false,
                            "isAffix": false,
                            "isKeepAlive": true
                          },
                          "children": [
                            {
                              "path": "/assembly/guide",
                              "name": "guide",
                              "component": "/assembly/guide/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Onboarding Page",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/assembly/tabs",
                              "name": "tabs",
                              "component": "/assembly/tabs/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Tab Operations",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              },
                              "children": [
                                {
                                  "path": "/assembly/tabs/detail/:id",
                                  "name": "tabsDetail",
                                  "component": "/assembly/tabs/detail",
                                  "meta": {
                                    "icon": "Menu",
                                    "title": "Tab Detail",
                                    "activeMenu": "/assembly/tabs",
                                    "isLink": "",
                                    "isHide": true,
                                    "isFull": false,
                                    "isAffix": false,
                                    "isKeepAlive": true
                                  }
                                }
                              ]
                            },
                            {
                              "path": "/assembly/selectIcon",
                              "name": "selectIcon",
                              "component": "/assembly/selectIcon/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Icon Picker",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/assembly/selectFilter",
                              "name": "selectFilter",
                              "component": "/assembly/selectFilter/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Category Filter",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/assembly/treeFilter",
                              "name": "treeFilter",
                              "component": "/assembly/treeFilter/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Tree Filter",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/assembly/svgIcon",
                              "name": "svgIcon",
                              "component": "/assembly/svgIcon/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "SVG Icons",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/assembly/uploadFile",
                              "name": "uploadFile",
                              "component": "/assembly/uploadFile/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "File Upload",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/assembly/batchImport",
                              "name": "batchImport",
                              "component": "/assembly/batchImport/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Batch Add Data",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/assembly/wangEditor",
                              "name": "wangEditor",
                              "component": "/assembly/wangEditor/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Rich Text Editor",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/assembly/draggable",
                              "name": "draggable",
                              "component": "/assembly/draggable/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Drag Component",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            }
                          ]
                        },
                        {
                          "path": "/dashboard",
                          "name": "dashboard",
                          "redirect": "/dashboard/dataVisualize",
                          "meta": {
                            "icon": "Odometer",
                            "title": "Dashboard",
                            "isLink": "",
                            "isHide": false,
                            "isFull": false,
                            "isAffix": false,
                            "isKeepAlive": true
                          },
                          "children": [
                            {
                              "path": "/dashboard/dataVisualize",
                              "name": "dataVisualize",
                              "component": "/dashboard/dataVisualize/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Data Visualization",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            }
                          ]
                        },
                        {
                          "path": "/form",
                          "name": "form",
                          "redirect": "/form/proForm",
                          "meta": {
                            "icon": "Tickets",
                            "title": "Form",
                            "isLink": "",
                            "isHide": false,
                            "isFull": false,
                            "isAffix": false,
                            "isKeepAlive": true
                          },
                          "children": [
                            {
                              "path": "/form/proForm",
                              "name": "proForm",
                              "component": "/form/proForm/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Super Form",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/form/basicForm",
                              "name": "basicForm",
                              "component": "/form/basicForm/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Basic Form",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/form/validateForm",
                              "name": "validateForm",
                              "component": "/form/validateForm/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Validation Form",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/form/dynamicForm",
                              "name": "dynamicForm",
                              "component": "/form/dynamicForm/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Dynamic Form",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            }
                          ]
                        },
                        {
                          "path": "/echarts",
                          "name": "echarts",
                          "redirect": "/echarts/waterChart",
                          "meta": {
                            "icon": "TrendCharts",
                            "title": "ECharts",
                            "isLink": "",
                            "isHide": false,
                            "isFull": false,
                            "isAffix": false,
                            "isKeepAlive": true
                          },
                          "children": [
                            {
                              "path": "/echarts/waterChart",
                              "name": "waterChart",
                              "component": "/echarts/waterChart/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Water Chart",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/echarts/columnChart",
                              "name": "columnChart",
                              "component": "/echarts/columnChart/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Bar Chart",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/echarts/lineChart",
                              "name": "lineChart",
                              "component": "/echarts/lineChart/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Line Chart",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/echarts/pieChart",
                              "name": "pieChart",
                              "component": "/echarts/pieChart/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Pie Chart",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/echarts/radarChart",
                              "name": "radarChart",
                              "component": "/echarts/radarChart/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Radar Chart",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/echarts/nestedChart",
                              "name": "nestedChart",
                              "component": "/echarts/nestedChart/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Nested Ring Chart",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            }
                          ]
                        },
                        {
                          "path": "/directives",
                          "name": "directives",
                          "redirect": "/directives/copyDirect",
                          "meta": {
                            "icon": "Stamp",
                            "title": "Custom Directives",
                            "isLink": "",
                            "isHide": false,
                            "isFull": false,
                            "isAffix": false,
                            "isKeepAlive": true
                          },
                          "children": [
                            {
                              "path": "/directives/copyDirect",
                              "name": "copyDirect",
                              "component": "/directives/copyDirect/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Copy Directive",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/directives/watermarkDirect",
                              "name": "watermarkDirect",
                              "component": "/directives/watermarkDirect/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Watermark Directive",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/directives/dragDirect",
                              "name": "dragDirect",
                              "component": "/directives/dragDirect/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Drag Directive",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/directives/debounceDirect",
                              "name": "debounceDirect",
                              "component": "/directives/debounceDirect/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Debounce Directive",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/directives/throttleDirect",
                              "name": "throttleDirect",
                              "component": "/directives/throttleDirect/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Throttle Directive",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/directives/longpressDirect",
                              "name": "longpressDirect",
                              "component": "/directives/longpressDirect/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Longpress Directive",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            }
                          ]
                        },
                        {
                          "path": "/menu",
                          "name": "menu",
                          "redirect": "/menu/menu1",
                          "meta": {
                            "icon": "List",
                            "title": "Nested Menu",
                            "isLink": "",
                            "isHide": false,
                            "isFull": false,
                            "isAffix": false,
                            "isKeepAlive": true
                          },
                          "children": [
                            {
                              "path": "/menu/menu1",
                              "name": "menu1",
                              "component": "/menu/menu1/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Menu 1",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/menu/menu2",
                              "name": "menu2",
                              "redirect": "/menu/menu2/menu21",
                              "meta": {
                                "icon": "Menu",
                                "title": "Menu 2",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              },
                              "children": [
                                {
                                  "path": "/menu/menu2/menu21",
                                  "name": "menu21",
                                  "component": "/menu/menu2/menu21/index",
                                  "meta": {
                                    "icon": "Menu",
                                    "title": "Menu 2-1",
                                    "isLink": "",
                                    "isHide": false,
                                    "isFull": false,
                                    "isAffix": false,
                                    "isKeepAlive": true
                                  }
                                },
                                {
                                  "path": "/menu/menu2/menu22",
                                  "name": "menu22",
                                  "redirect": "/menu/menu2/menu22/menu221",
                                  "meta": {
                                    "icon": "Menu",
                                    "title": "Menu 2-2",
                                    "isLink": "",
                                    "isHide": false,
                                    "isFull": false,
                                    "isAffix": false,
                                    "isKeepAlive": true
                                  },
                                  "children": [
                                    {
                                      "path": "/menu/menu2/menu22/menu221",
                                      "name": "menu221",
                                      "component": "/menu/menu2/menu22/menu221/index",
                                      "meta": {
                                        "icon": "Menu",
                                        "title": "Menu 2-2-1",
                                        "isLink": "",
                                        "isHide": false,
                                        "isFull": false,
                                        "isAffix": false,
                                        "isKeepAlive": true
                                      }
                                    },
                                    {
                                      "path": "/menu/menu2/menu22/menu222",
                                      "name": "menu222",
                                      "component": "/menu/menu2/menu22/menu222/index",
                                      "meta": {
                                        "icon": "Menu",
                                        "title": "Menu 2-2-2",
                                        "isLink": "",
                                        "isHide": false,
                                        "isFull": false,
                                        "isAffix": false,
                                        "isKeepAlive": true
                                      }
                                    }
                                  ]
                                },
                                {
                                  "path": "/menu/menu2/menu23",
                                  "name": "menu23",
                                  "component": "/menu/menu2/menu23/index",
                                  "meta": {
                                    "icon": "Menu",
                                    "title": "Menu 2-3",
                                    "isLink": "",
                                    "isHide": false,
                                    "isFull": false,
                                    "isAffix": false,
                                    "isKeepAlive": true
                                  }
                                }
                              ]
                            },
                            {
                              "path": "/menu/menu3",
                              "name": "menu3",
                              "component": "/menu/menu3/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Menu 3",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            }
                          ]
                        },
                        {
                          "path": "/system",
                          "name": "system",
                          "redirect": "/system/accountManage",
                          "meta": {
                            "icon": "Tools",
                            "title": "System Management",
                            "isLink": "",
                            "isHide": false,
                            "isFull": false,
                            "isAffix": false,
                            "isKeepAlive": true
                          },
                          "children": [
                            {
                              "path": "/system/accountManage",
                              "name": "accountManage",
                              "component": "/system/accountManage/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Account Management",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/system/roleManage",
                              "name": "roleManage",
                              "component": "/system/roleManage/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Role Management",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/system/menuMange",
                              "name": "menuMange",
                              "component": "/system/menuMange/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Menu Management",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/system/departmentManage",
                              "name": "departmentManage",
                              "component": "/system/departmentManage/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Department Management",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/system/dictManage",
                              "name": "dictManage",
                              "component": "/system/dictManage/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Dictionary Management",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/system/timingTask",
                              "name": "timingTask",
                              "component": "/system/timingTask/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Scheduled Tasks",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/system/systemLog",
                              "name": "systemLog",
                              "component": "/system/systemLog/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "System Logs",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            }
                          ]
                        },
                        {
                          "path": "/link",
                          "name": "link",
                          "redirect": "/link/bing",
                          "meta": {
                            "icon": "Paperclip",
                            "title": "External Links",
                            "isLink": "",
                            "isHide": false,
                            "isFull": false,
                            "isAffix": false,
                            "isKeepAlive": true
                          },
                          "children": [
                            {
                              "path": "/link/bing",
                              "name": "bing",
                              "component": "/link/bing/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Bing Embed",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/link/gitee",
                              "name": "gitee",
                              "component": "/link/gitee/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Gitee Repo",
                                "isLink": "https://gitee.com/HalseySpicy/Geeker-Admin",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/link/github",
                              "name": "github",
                              "component": "/link/github/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "GitHub Repo",
                                "isLink": "https://github.com/HalseySpicy/Geeker-Admin",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/link/docs",
                              "name": "docs",
                              "component": "/link/docs/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Project Docs",
                                "isLink": "https://docs.spicyboy.cn",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/link/juejin",
                              "name": "juejin",
                              "component": "/link/juejin/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Juejin Homepage",
                                "isLink": "https://juejin.cn/user/3263814531551816/posts",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            }
                          ]
                        },
                        {
                          "path": "/about/index",
                          "name": "about",
                          "component": "/about/index",
                          "meta": {
                            "icon": "InfoFilled",
                            "title": "About Project",
                            "isLink": "",
                            "isHide": false,
                            "isFull": false,
                            "isAffix": false,
                            "isKeepAlive": true
                          }
                        }
                      ],
                      "msg": "success"
                    }
                  },
                  "user": {
                    "summary": "user menu",
                    "value": {
                      "code": 200,
                      "data": [
                        {
                          "path": "/home/index",
                          "name": "home",
                          "component": "/home/index",
                          "meta": {
                            "icon": "HomeFilled",
                            "title": "Home",
                            "isLink": "",
                            "isHide": false,
                            "isFull": false,
                            "isAffix": true,
                            "isKeepAlive": true
                          }
                        },
                        {
                          "path": "/dataScreen",
                          "name": "dataScreen",
                          "component": "/dataScreen/index",
                          "meta": {
                            "icon": "Histogram",
                            "title": "Data Screen",
                            "isLink": "",
                            "isHide": false,
                            "isFull": true,
                            "isAffix": false,
                            "isKeepAlive": true
                          }
                        },
                        {
                          "path": "/proTable",
                          "name": "proTable",
                          "redirect": "/proTable/useProTable",
                          "meta": {
                            "icon": "MessageBox",
                            "title": "Super Table",
                            "isLink": "",
                            "isHide": false,
                            "isFull": false,
                            "isAffix": false,
                            "isKeepAlive": true
                          },
                          "children": [
                            {
                              "path": "/proTable/useProTable",
                              "name": "useProTable",
                              "component": "/proTable/useProTable/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Using ProTable",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              },
                              "children": [
                                {
                                  "path": "/proTable/useProTable/detail/:id",
                                  "name": "useProTableDetail",
                                  "component": "/proTable/useProTable/detail",
                                  "meta": {
                                    "icon": "Menu",
                                    "title": "ProTable Detail",
                                    "isLink": "",
                                    "isHide": true,
                                    "isFull": false,
                                    "isAffix": false,
                                    "isKeepAlive": true,
                                    "activeMenu": "/proTable/useProTable"
                                  }
                                }
                              ]
                            },
                            {
                              "path": "/proTable/useTreeFilter",
                              "name": "useTreeFilter",
                              "component": "/proTable/useTreeFilter/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Using TreeFilter",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/proTable/useTreeFilter/detail/:id",
                              "name": "useTreeFilterDetail",
                              "component": "/proTable/useTreeFilter/detail",
                              "meta": {
                                "icon": "Menu",
                                "title": "TreeFilter Detail",
                                "activeMenu": "/proTable/useTreeFilter",
                                "isLink": "",
                                "isHide": true,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/proTable/useSelectFilter",
                              "name": "useSelectFilter",
                              "component": "/proTable/useSelectFilter/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Using SelectFilter",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/proTable/treeProTable",
                              "name": "treeProTable",
                              "component": "/proTable/treeProTable/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Tree ProTable",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/proTable/complexProTable",
                              "name": "complexProTable",
                              "component": "/proTable/complexProTable/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Complex ProTable",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/proTable/document",
                              "name": "proTableDocument",
                              "component": "/proTable/document/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "ProTable Docs",
                                "isLink": "https://juejin.cn/post/7166068828202336263/#heading-14",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            }
                          ]
                        },
                        {
                          "path": "/auth",
                          "name": "auth",
                          "redirect": "/auth/menu",
                          "meta": {
                            "icon": "Lock",
                            "title": "Permission Management",
                            "isLink": "",
                            "isHide": false,
                            "isFull": false,
                            "isAffix": false,
                            "isKeepAlive": true
                          },
                          "children": [
                            {
                              "path": "/auth/menu",
                              "name": "authMenu",
                              "component": "/auth/menu/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Menu Permissions",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/auth/button",
                              "name": "authButton",
                              "component": "/auth/button/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Button Permissions",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            }
                          ]
                        },
                        {
                          "path": "/assembly",
                          "name": "assembly",
                          "redirect": "/assembly/guide",
                          "meta": {
                            "icon": "Briefcase",
                            "title": "Common Components",
                            "isLink": "",
                            "isHide": false,
                            "isFull": false,
                            "isAffix": false,
                            "isKeepAlive": true
                          },
                          "children": [
                            {
                              "path": "/assembly/guide",
                              "name": "guide",
                              "component": "/assembly/guide/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Onboarding Page",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/assembly/tabs",
                              "name": "tabs",
                              "component": "/assembly/tabs/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Tab Operations",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              },
                              "children": [
                                {
                                  "path": "/assembly/tabs/detail/:id",
                                  "name": "tabsDetail",
                                  "component": "/assembly/tabs/detail",
                                  "meta": {
                                    "icon": "Menu",
                                    "title": "Tab Detail",
                                    "activeMenu": "/assembly/tabs",
                                    "isLink": "",
                                    "isHide": true,
                                    "isFull": false,
                                    "isAffix": false,
                                    "isKeepAlive": true
                                  }
                                }
                              ]
                            },
                            {
                              "path": "/assembly/selectIcon",
                              "name": "selectIcon",
                              "component": "/assembly/selectIcon/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Icon Picker",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/assembly/selectFilter",
                              "name": "selectFilter",
                              "component": "/assembly/selectFilter/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Category Filter",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/assembly/treeFilter",
                              "name": "treeFilter",
                              "component": "/assembly/treeFilter/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Tree Filter",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/assembly/svgIcon",
                              "name": "svgIcon",
                              "component": "/assembly/svgIcon/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "SVG Icons",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/assembly/uploadFile",
                              "name": "uploadFile",
                              "component": "/assembly/uploadFile/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "File Upload",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/assembly/batchImport",
                              "name": "batchImport",
                              "component": "/assembly/batchImport/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Batch Add Data",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/assembly/wangEditor",
                              "name": "wangEditor",
                              "component": "/assembly/wangEditor/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Rich Text Editor",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/assembly/draggable",
                              "name": "draggable",
                              "component": "/assembly/draggable/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Drag Component",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            }
                          ]
                        },
                        {
                          "path": "/dashboard",
                          "name": "dashboard",
                          "redirect": "/dashboard/dataVisualize",
                          "meta": {
                            "icon": "Odometer",
                            "title": "Dashboard",
                            "isLink": "",
                            "isHide": false,
                            "isFull": false,
                            "isAffix": false,
                            "isKeepAlive": true
                          },
                          "children": [
                            {
                              "path": "/dashboard/dataVisualize",
                              "name": "dataVisualize",
                              "component": "/dashboard/dataVisualize/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Data Visualization",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            }
                          ]
                        },
                        {
                          "path": "/menu",
                          "name": "menu",
                          "redirect": "/menu/menu1",
                          "meta": {
                            "icon": "List",
                            "title": "Nested Menu",
                            "isLink": "",
                            "isHide": false,
                            "isFull": false,
                            "isAffix": false,
                            "isKeepAlive": true
                          },
                          "children": [
                            {
                              "path": "/menu/menu1",
                              "name": "menu1",
                              "component": "/menu/menu1/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Menu 1",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/menu/menu2",
                              "name": "menu2",
                              "redirect": "/menu/menu2/menu21",
                              "meta": {
                                "icon": "Menu",
                                "title": "Menu 2",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              },
                              "children": [
                                {
                                  "path": "/menu/menu2/menu21",
                                  "name": "menu21",
                                  "component": "/menu/menu2/menu21/index",
                                  "meta": {
                                    "icon": "Menu",
                                    "title": "Menu 2-1",
                                    "isLink": "",
                                    "isHide": false,
                                    "isFull": false,
                                    "isAffix": false,
                                    "isKeepAlive": true
                                  }
                                },
                                {
                                  "path": "/menu/menu2/menu22",
                                  "name": "menu22",
                                  "redirect": "/menu/menu2/menu22/menu221",
                                  "meta": {
                                    "icon": "Menu",
                                    "title": "Menu 2-2",
                                    "isLink": "",
                                    "isHide": false,
                                    "isFull": false,
                                    "isAffix": false,
                                    "isKeepAlive": true
                                  },
                                  "children": [
                                    {
                                      "path": "/menu/menu2/menu22/menu221",
                                      "name": "menu221",
                                      "component": "/menu/menu2/menu22/menu221/index",
                                      "meta": {
                                        "icon": "Menu",
                                        "title": "Menu 2-2-1",
                                        "isLink": "",
                                        "isHide": false,
                                        "isFull": false,
                                        "isAffix": false,
                                        "isKeepAlive": true
                                      }
                                    },
                                    {
                                      "path": "/menu/menu2/menu22/menu222",
                                      "name": "menu222",
                                      "component": "/menu/menu2/menu22/menu222/index",
                                      "meta": {
                                        "icon": "Menu",
                                        "title": "Menu 2-2-2",
                                        "isLink": "",
                                        "isHide": false,
                                        "isFull": false,
                                        "isAffix": false,
                                        "isKeepAlive": true
                                      }
                                    }
                                  ]
                                },
                                {
                                  "path": "/menu/menu2/menu23",
                                  "name": "menu23",
                                  "component": "/menu/menu2/menu23/index",
                                  "meta": {
                                    "icon": "Menu",
                                    "title": "Menu 2-3",
                                    "isLink": "",
                                    "isHide": false,
                                    "isFull": false,
                                    "isAffix": false,
                                    "isKeepAlive": true
                                  }
                                }
                              ]
                            },
                            {
                              "path": "/menu/menu3",
                              "name": "menu3",
                              "component": "/menu/menu3/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Menu 3",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            }
                          ]
                        },
                        {
                          "path": "/link",
                          "name": "link",
                          "redirect": "/link/bing",
                          "meta": {
                            "icon": "Paperclip",
                            "title": "External Links",
                            "isLink": "",
                            "isHide": false,
                            "isFull": false,
                            "isAffix": false,
                            "isKeepAlive": true
                          },
                          "children": [
                            {
                              "path": "/link/bing",
                              "name": "bing",
                              "component": "/link/bing/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Bing Embed",
                                "isLink": "",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/link/github",
                              "name": "github",
                              "component": "/link/github/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "GitHub Repo",
                                "isLink": "https://github.com/HalseySpicy/Geeker-Admin",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/link/docs",
                              "name": "docs",
                              "component": "/link/docs/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Project Docs",
                                "isLink": "https://docs.spicyboy.cn",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            },
                            {
                              "path": "/link/juejin",
                              "name": "juejin",
                              "component": "/link/juejin/index",
                              "meta": {
                                "icon": "Menu",
                                "title": "Juejin Homepage",
                                "isLink": "https://juejin.cn/user/3263814531551816/posts",
                                "isHide": false,
                                "isFull": false,
                                "isAffix": false,
                                "isKeepAlive": true
                              }
                            }
                          ]
                        },
                        {
                          "path": "/about/index",
                          "name": "about",
                          "component": "/about/index",
                          "meta": {
                            "icon": "InfoFilled",
                            "title": "About Project",
                            "isLink": "",
                            "isHide": false,
                            "isFull": false,
                            "isAffix": false,
                            "isKeepAlive": true
                          }
                        }
                      ],
                      "msg": "success"
                    }
                  }
                }
              }
            },
            "x-apifox-name": "success"
          }
        },
        "x-apifox": {
          "mockScript": {
            "enable": true,
            "script": "// Migrated from Easy-Mock: /geeker/menu/list\nvar token = $$.mockRequest.headers.get('x-access-token');\nvar data;\nif (token === 'bqddxxwqmfncffacvbpkuxvwvqrhln') {\n  data = [{\"path\":\"/home/index\",\"name\":\"home\",\"component\":\"/home/index\",\"meta\":{\"icon\":\"HomeFilled\",\"title\":\"Home\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":true,\"isKeepAlive\":true}},{\"path\":\"/dataScreen\",\"name\":\"dataScreen\",\"component\":\"/dataScreen/index\",\"meta\":{\"icon\":\"Histogram\",\"title\":\"Data Screen\",\"isLink\":\"\",\"isHide\":false,\"isFull\":true,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/proTable\",\"name\":\"proTable\",\"redirect\":\"/proTable/useProTable\",\"meta\":{\"icon\":\"MessageBox\",\"title\":\"Super Table\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true},\"children\":[{\"path\":\"/proTable/useProTable\",\"name\":\"useProTable\",\"component\":\"/proTable/useProTable/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Using ProTable\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true},\"children\":[{\"path\":\"/proTable/useProTable/detail/:id\",\"name\":\"useProTableDetail\",\"component\":\"/proTable/useProTable/detail\",\"meta\":{\"icon\":\"Menu\",\"title\":\"ProTable Detail\",\"isLink\":\"\",\"isHide\":true,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true,\"activeMenu\":\"/proTable/useProTable\"}}]},{\"path\":\"/proTable/useTreeFilter\",\"name\":\"useTreeFilter\",\"component\":\"/proTable/useTreeFilter/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Using TreeFilter\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/proTable/useTreeFilter/detail/:id\",\"name\":\"useTreeFilterDetail\",\"component\":\"/proTable/useTreeFilter/detail\",\"meta\":{\"icon\":\"Menu\",\"title\":\"TreeFilter Detail\",\"activeMenu\":\"/proTable/useTreeFilter\",\"isLink\":\"\",\"isHide\":true,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/proTable/useSelectFilter\",\"name\":\"useSelectFilter\",\"component\":\"/proTable/useSelectFilter/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Using SelectFilter\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/proTable/treeProTable\",\"name\":\"treeProTable\",\"component\":\"/proTable/treeProTable/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Tree ProTable\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/proTable/complexProTable\",\"name\":\"complexProTable\",\"component\":\"/proTable/complexProTable/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Complex ProTable\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/proTable/document\",\"name\":\"proTableDocument\",\"component\":\"/proTable/document/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"ProTable Docs\",\"isLink\":\"https://juejin.cn/post/7166068828202336263/#heading-14\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}}]},{\"path\":\"/auth\",\"name\":\"auth\",\"redirect\":\"/auth/menu\",\"meta\":{\"icon\":\"Lock\",\"title\":\"Permission Management\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true},\"children\":[{\"path\":\"/auth/menu\",\"name\":\"authMenu\",\"component\":\"/auth/menu/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Menu Permissions\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/auth/button\",\"name\":\"authButton\",\"component\":\"/auth/button/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Button Permissions\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}}]},{\"path\":\"/assembly\",\"name\":\"assembly\",\"redirect\":\"/assembly/guide\",\"meta\":{\"icon\":\"Briefcase\",\"title\":\"Common Components\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true},\"children\":[{\"path\":\"/assembly/guide\",\"name\":\"guide\",\"component\":\"/assembly/guide/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Onboarding Page\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/assembly/tabs\",\"name\":\"tabs\",\"component\":\"/assembly/tabs/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Tab Operations\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true},\"children\":[{\"path\":\"/assembly/tabs/detail/:id\",\"name\":\"tabsDetail\",\"component\":\"/assembly/tabs/detail\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Tab Detail\",\"activeMenu\":\"/assembly/tabs\",\"isLink\":\"\",\"isHide\":true,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}}]},{\"path\":\"/assembly/selectIcon\",\"name\":\"selectIcon\",\"component\":\"/assembly/selectIcon/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Icon Picker\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/assembly/selectFilter\",\"name\":\"selectFilter\",\"component\":\"/assembly/selectFilter/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Category Filter\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/assembly/treeFilter\",\"name\":\"treeFilter\",\"component\":\"/assembly/treeFilter/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Tree Filter\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/assembly/svgIcon\",\"name\":\"svgIcon\",\"component\":\"/assembly/svgIcon/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"SVG Icons\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/assembly/uploadFile\",\"name\":\"uploadFile\",\"component\":\"/assembly/uploadFile/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"File Upload\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/assembly/batchImport\",\"name\":\"batchImport\",\"component\":\"/assembly/batchImport/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Batch Add Data\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/assembly/wangEditor\",\"name\":\"wangEditor\",\"component\":\"/assembly/wangEditor/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Rich Text Editor\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/assembly/draggable\",\"name\":\"draggable\",\"component\":\"/assembly/draggable/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Drag Component\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}}]},{\"path\":\"/dashboard\",\"name\":\"dashboard\",\"redirect\":\"/dashboard/dataVisualize\",\"meta\":{\"icon\":\"Odometer\",\"title\":\"Dashboard\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true},\"children\":[{\"path\":\"/dashboard/dataVisualize\",\"name\":\"dataVisualize\",\"component\":\"/dashboard/dataVisualize/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Data Visualization\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}}]},{\"path\":\"/form\",\"name\":\"form\",\"redirect\":\"/form/proForm\",\"meta\":{\"icon\":\"Tickets\",\"title\":\"Form\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true},\"children\":[{\"path\":\"/form/proForm\",\"name\":\"proForm\",\"component\":\"/form/proForm/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Super Form\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/form/basicForm\",\"name\":\"basicForm\",\"component\":\"/form/basicForm/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Basic Form\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/form/validateForm\",\"name\":\"validateForm\",\"component\":\"/form/validateForm/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Validation Form\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/form/dynamicForm\",\"name\":\"dynamicForm\",\"component\":\"/form/dynamicForm/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Dynamic Form\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}}]},{\"path\":\"/echarts\",\"name\":\"echarts\",\"redirect\":\"/echarts/waterChart\",\"meta\":{\"icon\":\"TrendCharts\",\"title\":\"ECharts\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true},\"children\":[{\"path\":\"/echarts/waterChart\",\"name\":\"waterChart\",\"component\":\"/echarts/waterChart/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Water Chart\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/echarts/columnChart\",\"name\":\"columnChart\",\"component\":\"/echarts/columnChart/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Bar Chart\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/echarts/lineChart\",\"name\":\"lineChart\",\"component\":\"/echarts/lineChart/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Line Chart\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/echarts/pieChart\",\"name\":\"pieChart\",\"component\":\"/echarts/pieChart/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Pie Chart\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/echarts/radarChart\",\"name\":\"radarChart\",\"component\":\"/echarts/radarChart/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Radar Chart\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/echarts/nestedChart\",\"name\":\"nestedChart\",\"component\":\"/echarts/nestedChart/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Nested Ring Chart\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}}]},{\"path\":\"/directives\",\"name\":\"directives\",\"redirect\":\"/directives/copyDirect\",\"meta\":{\"icon\":\"Stamp\",\"title\":\"Custom Directives\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true},\"children\":[{\"path\":\"/directives/copyDirect\",\"name\":\"copyDirect\",\"component\":\"/directives/copyDirect/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Copy Directive\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/directives/watermarkDirect\",\"name\":\"watermarkDirect\",\"component\":\"/directives/watermarkDirect/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Watermark Directive\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/directives/dragDirect\",\"name\":\"dragDirect\",\"component\":\"/directives/dragDirect/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Drag Directive\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/directives/debounceDirect\",\"name\":\"debounceDirect\",\"component\":\"/directives/debounceDirect/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Debounce Directive\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/directives/throttleDirect\",\"name\":\"throttleDirect\",\"component\":\"/directives/throttleDirect/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Throttle Directive\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/directives/longpressDirect\",\"name\":\"longpressDirect\",\"component\":\"/directives/longpressDirect/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Longpress Directive\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}}]},{\"path\":\"/menu\",\"name\":\"menu\",\"redirect\":\"/menu/menu1\",\"meta\":{\"icon\":\"List\",\"title\":\"Nested Menu\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true},\"children\":[{\"path\":\"/menu/menu1\",\"name\":\"menu1\",\"component\":\"/menu/menu1/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Menu 1\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/menu/menu2\",\"name\":\"menu2\",\"redirect\":\"/menu/menu2/menu21\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Menu 2\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true},\"children\":[{\"path\":\"/menu/menu2/menu21\",\"name\":\"menu21\",\"component\":\"/menu/menu2/menu21/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Menu 2-1\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true}},{\"path\":\"/menu/menu2/menu22\",\"name\":\"menu22\",\"redirect\":\"/menu/menu2/menu22/menu221\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Menu 2-2\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAffix\":false,\"isKeepAlive\":true},\"children\":[{\"path\":\"/menu/menu2/menu22/menu221\",\"name\":\"menu221\",\"component\":\"/menu/menu2/menu22/menu221/index\",\"meta\":{\"icon\":\"Menu\",\"title\":\"Menu 2-2-1\",\"isLink\":\"\",\"isHide\":false,\"isFull\":false,\"isAf
[...]
