<div class="page page-news">
  <filter-bar
    :query="store.newsQuery"
    query-placeholder="搜索新闻标题 / URL / 标签"
    :selected-date="store.selectedDate"
    :sort-key="store.newsFilter.sortBy"
    :all-tags="store.allNewsTags"
    :selected-tags="store.newsFilter.selectedTags"
    @update:query="store.newsQuery = $event"
    @update:selected-date="onDateChange"
    @prev-day="prevDay"
    @next-day="nextDay"
    @toggle-sort="store.toggleNewsSort()"
    @toggle-tag="store.toggleNewsTag($event)"
  />

  <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
    <div class="session-list" v-if="!store.newsLoading && filtered.length">
      <div
        v-for="item in filtered"
        :key="item.key"
        class="session-item news-item"
        @click="goChat(item)"
      >
        <div class="session-item__header">
          <h3 class="session-item__title">{{ item.title || '未命名' }}</h3>
        </div>
        <p class="session-item__url" v-if="item.link">{{ item.link }}</p>
        <p class="session-item__preview" v-if="item.description">{{ item.description }}</p>
        <div class="session-item__footer">
          <span class="session-item__source" v-if="item.sourceName">{{ item.sourceName }}</span>
          <span class="session-item__time">{{ item.createdTime || item.published }}</span>
        </div>
      </div>
    </div>
    <van-empty v-else-if="!store.newsLoading" description="暂无新闻" />
  </van-pull-refresh>

  <van-loading v-if="store.newsLoading" class="loading-center" />
</div>
