<script type="text/x-template" id="yry-breadcrumb-tpl">
    <nav class="yry-breadcrumb" :aria-label="ariaLabel">
        <template v-for="(item, idx) in items">
            <a v-if="item.href && idx < items.length - 1" :href="item.href">{{ item.label }}</a>
            <span v-else-if="!item.href && idx < items.length - 1">{{ item.label }}</span>
            <span v-if="idx < items.length - 1" class="yry-breadcrumb-sep" aria-hidden="true">{{ separator }}</span>
            <span v-if="idx === items.length - 1" class="yry-breadcrumb-current" aria-current="page">{{ item.label }}</span>
        </template>
    </nav>
</script>

<script src="index.js"></script>