<button
  v-if="as === 'button'"
  :type="type"
  :class="computedClass"
  :disabled="isDisabled"
  :title="title || null"
  :aria-label="ariaLabel || null"
  :aria-busy="loading ? 'true' : null"
  @click="onClick"
>
  <span v-if="loading" class="yry-btn-spinner" aria-hidden="true"></span>
  <span v-if="icon && iconPosition === 'left'" class="yry-btn-icon-left">
    <i :class="resolvedIconClass" aria-hidden="true"></i>
  </span>
  <span class="yry-btn-content"><slot></slot></span>
  <span v-if="icon && iconPosition === 'right'" class="yry-btn-icon-right">
    <i :class="resolvedIconClass" aria-hidden="true"></i>
  </span>
</button>
<a
  v-else
  :href="href || null"
  :target="target || null"
  :rel="rel || null"
  :class="computedClass"
  :aria-disabled="isDisabled ? 'true' : null"
  :title="title || null"
  :aria-label="ariaLabel || null"
  @click="onClick"
>
  <span v-if="loading" class="yry-btn-spinner" aria-hidden="true"></span>
  <span v-if="icon && iconPosition === 'left'" class="yry-btn-icon-left">
    <i :class="resolvedIconClass" aria-hidden="true"></i>
  </span>
  <span class="yry-btn-content"><slot></slot></span>
  <span v-if="icon && iconPosition === 'right'" class="yry-btn-icon-right">
    <i :class="resolvedIconClass" aria-hidden="true"></i>
  </span>
</a>
