<van-popup
  :show="show"
  @update:show="$emit('update:show', $event)"
  position="bottom"
  round
  :style="{ height: '50%' }"
>
  <div class="faq-popup">
    <h3>常见问题</h3>
    <van-loading v-if="loading" />
    <van-empty v-else-if="!items.length" description="暂无" />
    <div v-else class="faq-list">
      <div
        v-for="item in items"
        :key="item.id"
        class="faq-item"
        @click="$emit('select', item.text)"
      >{{ item.text }}</div>
    </div>
  </div>
</van-popup>
