.el-main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  overflow: hidden;
  background-color: var(--el-bg-color-page);

  .main-view {
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }
}
